
h1 {
	background-color:darkseagreen;
	border:2px solid black;
	color:black;
	font-size:150%;
	padding-top:40;
	padding-left:15;
	padding-bottom:20;
}
h2 {
	border:2px solid black;
	padding-top:40;
	padding-left:15;
	padding-bottom:120;
	color:white;
	font-size:150%;
    background-image: url("electronics.jpg");
}
h3 {
	color:Navy;
	font-size:120%;
	padding-top:10;
	padding-left:15;
}
b {
	color:black;
}
body, p, ul, img, iframe {
	margin-left:45;
	margin-right:40;
	font-family:Helvetica;
}

body {
	background-color: #fff;
	background-image:
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

img {
	width:400;
}

.w320 {
        margin-right:30;
        width:320;
}

.w240 {
        margin-right:20;
        width:240;
}
